.box {
}

.box-changed {
    position: relative;
    width: 100px;
    height: 90px;
}

.box-changed:before,
.box-changed:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: black;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.box-changed:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
